# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Databases
*.db
*.sqlite3

# IDE / OS
.idea/
.vscode/
.DS_Store
